:root {
	--primary-color: #002e2a;
	--secondary-color: #d17a22;
	--alabaster-color: #f1f0eb;
	--silver-color: #f1f0eb;
}

.text-secondary {
	color: var(--secondary-color);
}

.text-primary {
	color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-primary {
	background-color: var(--primary-color);
}
